
h3 {
    padding: 15%;
    text-align: right;
    color: #928888;
    font-family:'Courier New', Courier, monospace;
   }

  h4 {
    padding: 3%;
    text-align: center;
  }
  h6 {
    padding-top: 3%;
    text-align: center;
    color: #928888;
  }
  h5 {
    padding-top: 3%;
    text-align: center;

  }
  #light {
    color: #FFFFFF;
    text-align: center;
  }
  .justify-content-center {
  background-color: #F2EDEB;
}
  .nav-link {
    color:   #928888;
  }
 .container-fluid {
   height: 100%;
 }

 footer {
  background-color: #9E7977;
 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  #alinpic {
    width: 27%;
    height: 27%;
    border-radius: 50%;
    border: 10px solid #F2EDEB;
    box-sizing: border-box;
  }
  #school {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  #Interests {
    width: 75%;
    height: 100%;
  }


  #sec1 {
    width: 100%;
    height: max-content;
    background-image: url("img/2.png");
    background-color: #F2EDEB ;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; 
  }
  #sec2 {
    background-color: #C39896;
  }
  #sec3 {
    padding-bottom: 10%;
    height: max-content;
    background-color: #F2EDEB;
    background-image: url("img/floral.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; 
  }
  #sec4 {
    padding-bottom: 7%;
    background-color: #C39896;
  }
  .col-sm-3 {
    height: max-content;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  button {
    background-color:  white;
    border: none;
    color: #C39896;;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  #buttonsec {
    padding: 3%;
  }

  /* MORE ABOUT ME */


  #more {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 15%;
  }

  #pink {
      color: #928888;
  }
  

